.body {
  margin: 0;
}

.class {
  background-color: rgb(100, 100, 100);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.circle {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  padding: 100px;
  transition: background 5s ease-in-out;
}

.randomColor {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  border-collapse: collapse;
  opacity: 1;
  padding: 300px;
}

.randomBackground {
  overflow: hidden;
}
