.body {
  margin: 0;
}

.class {
  /*background-color: rgb(100, 100, 100);*/
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  padding: 100px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 255, 1) 60%,
    rgba(0, 150, 136, 0) 70%
  );
  pointer-events: none;
  transition: all 1s ease-in-out 1s;
}

.randomColor {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  border-collapse: collapse;
  opacity: 1;
  padding: 300px;
}

.randomBackground {
  overflow: hidden;
}
